[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pelican = "*"
jupyter = "*"
ipython = "*"
nbconvert = "*"
beautifulsoup4 = "*"
ghp-import = "*"
matplotlib = "*"
Markdown = "*"

[requires]
python_version = "3.6"
